<!DOCTYPE html>
<html>
  <head>
    <!-- <link href="./partials/style.css" rel='stylesheet'> -->
    <link rel="stylesheet" href="./partials/pizza.css">
    <meta charset="utf-8">
    <title>Pizza</title>
  </head>
  <body>
    <div class="parent">
      <img src="/partials/pictures/Pizza.jpg" class="main-pizza">
      <div class="toppings" style=<%=pizza.mushrooms%>>
         <img class="topping"src="/partials/pictures/mushrooms.gif" >
      </div>
      <div class="toppings2" style=<%=pizza.anchovies%>>
         <img class="topping" src="/partials/pictures/anchovies.gif">
      </div>
      <div class="toppings3" style=<%=pizza.onions%>>
         <img class="topping" src="/partials/pictures/onions.gif">
      </div>
      <div class="toppings4" style=<%=pizza.pepperoni%>>
         <img class="topping" src="/partials/pictures/pepperoni.gif">
      </div>
      <div class="toppings5" style=<%=pizza.pineapples%>>
          <img class="topping" src="/partials/pictures/pineapples.gif">
      </div>

      <div class="toppings6" style=<%=pizza.mushrooms %>>
         <img class="topping" src="/partials/pictures/mushrooms.gif">
      </div>
      <div class="toppings7" style=<%=pizza.anchovies%>>
         <img class="topping" src="/partials/pictures/anchovies.gif">
      </div>
      <div class="toppings8" style=<%=pizza.onions%>>
         <img class="topping" src="/partials/pictures/onions.gif">
      </div>
      <div class="toppings9" style=<%=pizza.pepperoni%>>
         <img class="topping" src="/partials/pictures/pepperoni.gif">
      </div>
      <div class="toppings10" style=<%=pizza.pineapples%>>
          <img class="topping" src="/partials/pictures/pineapples.gif">
      </div>
      <div class="toppings11" style=<%=pizza.mushrooms %>>
         <img class="topping" src="/partials/pictures/mushrooms.gif">
      </div>
      <div class="toppings12" style=<%=pizza.anchovies%>>
         <img class="topping" src="/partials/pictures/anchovies.gif">
      </div>
      <div class="toppings13" style=<%=pizza.onions%>>
         <img class="topping" src="/partials/pictures/onions.gif">
      </div>
      <div class="toppings14" style=<%=pizza.pepperoni%>>
         <img class="topping" src="/partials/pictures/pepperoni.gif">
      </div>
      <div class="toppings15" style=<%=pizza.pineapples%>>
          <img  class="topping" src="/partials/pictures/pineapples.gif">
      </div>

      <div class="toppings16" style=<%=pizza.mushrooms %>>
         <img  class="topping" src="/partials/pictures/mushrooms.gif"  >
      </div>
      <div class="toppings17" style=<%=pizza.anchovies%>>
         <img  class="topping" src="/partials/pictures/anchovies.gif">
      </div>
      <div class="toppings18" style=<%=pizza.onions%>>
         <img  class="topping" src="/partials/pictures/onions.gif">
      </div>
      <div class="toppings19" style=<%=pizza.pepperoni%>>
         <img class="topping" src="/partials/pictures/pepperoni.gif">
      </div>
      <div class="toppings20" style=<%=pizza.pineapples%>>
          <img class="topping" src="/partials/pictures/pineapples.gif">
      </div>
    </div>
<div style="text-align:center;display:flex; position: relative; border:1px dotted gray" id="pizzaConfirm"><p id="pizzaConfirm">Thank you for ordering <%=pizza.username%>. You have <%=pizza.quantity%> <%=pizza.size %> <%=pizza.word%> on the way.</p></div>
  </body>
</html>
